<div class = "container-fluid">
<h1 class = "jumbotron .bg-success text-center">Welcome to Gout App, a gout-attack tracking app!</h1>

<%# <%= image_tag Post.all.sample.image_url, size: '800x800' %>

<h2>You can utilize this app to keep track of your gout attacks and possible triggers that might have caused them.</h2>

</div>
<h3><%= link_to 'Join', signup_path, class:'btn btn-lg btn-success' %></h3>